# dependencies
node_modules/
.pnpm-store/

# expo
.expo/
dist/
web-build/

# env
.env
.env.local
.env.*.local

# build
*.zip
*.apk
*.aab

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
